<div {{action 'tagField' this.userIcon 'one'}} style='width:100px;height:100px;padding:10px;'>
  {{this.one}}
</div>
<div {{action 'tagField' this.userIcon 'two'}} style='width:100px;height:100px;padding:10px;'>
  {{this.two}}
</div>
<div {{action 'tagField' this.userIcon 'three'}} style='width:100px;height:100px;padding:10px;'>
  {{this.three}}
</div>

<div {{action 'tagField' this.userIcon 'four'}} style='width:100px;height:100px;padding:10px;'>
  {{this.four}}
</div>
<div {{action 'tagField' this.userIcon 'five'}} style='width:100px;height:100px;padding:10px;'>
  {{this.five}}
</div>
<div {{action 'tagField' this.userIcon 'six'}} style='width:100px;height:100px;padding:10px;'>
  {{this.six}}
</div>

<div {{action 'tagField' this.userIcon 'seven'}} style='width:100px;height:100px;padding:10px;'>
  {{this.seven}}
</div>
<div {{action 'tagField' this.userIcon 'eight'}} style='width:100px;height:100px;padding:10px;'>
  {{this.eight}}
</div>
<div {{action 'tagField' this.userIcon 'nine'}} style='width:100px;height:100px;padding:10px;'>
  {{this.nine}}
</div>